*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /*border: 1px solid lightgrey;*/
}

body {
  font-family: 'Catamaran', sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.grid {

  width:50%;
  position:absolute;
  top:320px;
  left:300px;
}

.box {
  height: 100px;
}

/*.tip {
  z-index: 1;
  position: static;
  font-size: 2rem;
  margin: 15%;
  background-color: white;

}*/

/*.tip {
  font-size: 2rem;
}*/


button {
  font-size: 1.5rem;
  padding: 5%;
}
.buttonholder {
  position: absolute;
  top: 450px;
  left:600px;
}

.box1 {
  background-color: tomato;
}

.box2 {
  background-color: midnightblue;
}

.box3 {
  background-color: gold;
}

.box4 {
  background-color: limegreen;
}

.box5 {
  background-color: blueviolet;
}

.box6 {
  background-color: darkorange;
}

.box7 {
  background-color: turquoise;
}

.box8 {
  background-color: crimson;
}

.box9 {
  background-color: mediumseagreen;
}
